*/__pycache__
__pycache__
.venv
.venv3.12
*.env
*/.env
**/.env
database/.env
.env
Resources-20251126
.git

# Fichiers temporaires
*.swp
*.swo
*~

# Les Paquets / archives
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.pdf
*.png

# Les Logs 
*.log.env

# Fichiers temporaires LaTeX Core
*.aux
*.log
*.out
*.toc
*.lot
*.lof

# Fichiers de bibliographie
*.bbl
*.blg

# Fichiers de compilation Latexmk
*.fdb_latexmk
*.fls

# Fichiers de synchronisation VS Code
*.synctex.gz
*.synctex
*.synctex(busy)

# Logs et fichiers divers
*.dvi
*.nav
*.snm
*.vrb

*.pdf